# Configurações do Banco de Dados MySQL no Docker
DB_PASSWORD=senha
DB_DATABASE=backend_app_book
DB_PORT=3306

# URL de conexão do banco (localhost porque o backend roda na máquina)
DATABASE_URL="mysql://usuario:senha@localhost:3306/backend_app_book"

# Configurações da Aplicação
NODE_ENV=development
HOST="http://localhost"
PORT=3001
NGROK_URL=